<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>FB</filter-name>
  	<filter-class>au.com.alura.manager.servelet.FilterBook</filter-class>
  </filter>
  
  <filter-mapping>
	<filter-name>FB</filter-name>
	<url-pattern>/main</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>FL</filter-name>
  	<filter-class>au.com.alura.manager.servelet.FilterLogin</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>FL</filter-name>
	<url-pattern>/main</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>MF</filter-name>
  	<filter-class>au.com.alura.manager.servelet.MainFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>MF</filter-name>
	<url-pattern>/main</url-pattern>
  </filter-mapping>
</web-app>